.page-container {
  font-family: 'Roboto';  
  width: 100%;
  height: 100vh;
  background-size: cover;  
  border-radius: 32px;
  padding-top: 30px;
}
.close-button-container {
  width: 100%;
  text-align: right;
}
.close-button {
  width: 14.84px;
  height: 15.28px;
}
.error {
  color: red;
  width: 100%;
}

.button {
  border-radius: 50px;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  border-width: 0;
  width: 100%;
}

.black {
  background-color: #000 !important;
  color: #fff;
}
.disabled {
  opacity: 0.4;
  cursor: initial;
}
.title {
  font-size: 24px;
  font-weight: 300px;
  line-height: 28.13px;
  letter-spacing: -2%;
}
.mb-68 {
  margin-bottom: 68px;
}

.input {
  font-size: 16px;
  width: 100%;
  background-color: #ebebeb !important;
  border-color: #ebebeb !important;
  color: #afafaf;
  border-radius: 4px;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}
.field {
  margin: auto;

  margin-bottom: 20px;
  display: flex;
}

.form {
  background-color: #fff;
}

.sign-container {
  margin: 0 auto;
  margin: auto;
  max-width: 500px;
  background: #fff;
  padding: 20px 22.16px;
  position: relative;
  border-radius: 32px;
  text-align: center;
  color: #000;
}
.tag-button {
  width: 100%;
  cursor: pointer;
}

.mail {
  margin: auto;
}
.welcome-box, .search-page {
  margin: auto;  
  padding-left: 20px;
  max-width: 500px;
}

.mail-container {
  background-color: #fff;
  padding: 29px;
  width: 30px;
  height: 30px;
}

.page-title {
  margin-top: 30px;
}

.search-form {
  display: flex;
}
.search-input {
  margin-right: 28px;
}

.search-button {
  text-align: center;
  width: 15%;
  display: flex;
  background-color: #000;
  border-radius: 4px;
}
.search-image {
  margin: auto;
}
.channel-list {
  height: 600px; 
}
.channel-row{
  margin-top: 21px;
  display: flex; 
  .channel-title {
    padding-left: 18px;
    text-align: left;
    line-height: 40px;
    color : #AFAFAF;
    width: 500px;
  }
  .tumb-container {
  .tumb {
      width: 40px;
      height: 40px;
    }    
  }
  .favourite-button {
    width: 15%;
    line-height: 40px;
    text-align: center;
  }
  
}
.line-box {
  position: fixed;
  bottom: 25px;
  width: 100%;
  display: flex;
  .line{
    margin: auto;
  }
}
